.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  background-color: #edf7fa;
  color: #1a2435;
  width: 100%;
}

.games {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.games button {
  margin-left: 25rem;
  margin-right: 25rem;
}

.titleCard {
  width: 100%;
  background-color: #4257b2;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 15px;
  text-align: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.single-player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.multi-player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 0px;
}

.text-field--container {
  width: 80%;
}

.whitespace {
  height: 30px;
}
